* {
  margin: 0;
  padding: 0; }

/*******  Barra de Navegacion *******/
nav {
  width: 100%;
  z-index: 3;
  position: fixed;
  align-items: center;
  transition: all 1s; }

.nav-item:hover {
  color: black; }

.navbar-nav {
  flex-direction: row; }

.nav-link {
  text-decoration: none;
  list-style-type: none;
  list-style: none;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding-left: 1%;
  padding-right: 1%;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  font-size: 1rem; }

.navbar-collapse {
  display: flex !important;
  flex-basis: auto; }

.navbar-toggler {
  display: none; }

/**** MainTitles_1 ****/
h1 {
  width: 100%;
  color: #212121;
  margin: 5%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  /*             border-top: solid 1px #c9c9c9;
            border-bottom: solid 1px #c9c9c9; */
  padding: 2%;
  animation-duration: 1s;
  animation-name: h1_main;
  animation-timing-function: ease-in;
  animation-iteration-count: initial; }

@keyframes h1_main {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.sectionMainTittle {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center; }

.maintitle_h1Index {
  width: 100%;
  color: #212121;
  margin: 20px;
  text-align: center;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 3rem;
  grid-area: h1;
  justify-items: center; }

.maintitles_h1logo {
  height: 50px;
  width: 50px;
  margin-left: 5px;
  grid-area: img;
  justify-items: start;
  animation-duration: 1s;
  transition: all 2s; }

.maintitles_h1logo:hover {
  height: 90px;
  width: 90px;
  padding: 20px; }

/* @keyframes h1_logo {
            0%{
                opacity: 0;
            }
            100% {
                opacity: 1;
            
            }
        } */
.maintitles_carousel {
  margin: 10%;
  justify-items: center;
  align-items: center;
  width: 80%;
  height: 70%; }

/* MainTitles_3 */
.maintitles_sectionMainText {
  margin-top: 20px;
  animation-duration: 1s;
  animation-name: main_text;
  animation-timing-function: ease-in;
  animation-iteration-count: initial; }

@keyframes main_text {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

h3 {
  color: #2c2c2c;
  padding-left: 10px;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif; }

.maintitles_h3Index {
  align-self: center; }

/* Paragraphs */
p {
  margin: 5%;
  line-height: 2.5;
  padding: 2%;
  font-family: 'Montserrat', sans-serif; }

.maintitles_p1 {
  padding: 2%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem; }

.maintitles_presentacionIndex {
  display: grid;
  /* grid-template-rows: 200px 100px; */
  grid-template-columns: 20% 80%;
  grid-template-areas: "h3 p";
  justify-content: center;
  align-items: center;
  flex-direction: row; }

/* Footer */
.footerGeneral {
  /*     background-color: #c9c9c9; */
  background-repeat: repeat;
  background-size: cover;
  text-decoration: none;
  max-width: 99vw;
  background-image: radial-gradient(#fffefe, grey);
  /*  */
  display: grid;
  grid-template-columns: 30% 30% 40%;
  grid-template-rows: 10% auto;
  grid-template-areas: "h3Footer h3Footer h3Footer" "desc redes map"  "desc redes map";
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  /*     grid-gap: 10px; */ }

.footer_h3 {
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
  margin: 5%;
  /*  */
  grid-area: h3Footer;
  justify-items: start;
  align-items: left; }

.footer_sectionDesc {
  grid-area: desc; }

.footer_redes {
  justify-items: center;
  align-items: center;
  grid-area: redes; }

.footer_listaRedes {
  text-align: center;
  list-style-type: none; }

.footer_listaRedes_1 {
  color: black;
  text-decoration: none;
  /* margin: 0px 40px 0px 40px; */
  text-align: center;
  font-family: 'Montserrat', sans-serif; }

.footer_linkRedes {
  text-decoration: none;
  color: black;
  padding: 2%; }

.footer_sectionMAP {
  display: grid;
  justify-items: center;
  align-items: center; }

.map .animate__shakeX {
  grid-area: map;
  animation-name: map;
  animation: bounce;
  animation-duration: 2s; }

@keyframes map {
  0% {
    animation-duration: 2s; } }

.p_2 {
  font-family: 'Montserrat', sans-serif;
  word-break: break-all; }

/****** Media Queries  ******/
@media only screen and (min-width: 1200px) {
  body {
    background: #fdfdfc; } }

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .ContainerBody {
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%; }
  .sectionMainTittle {
    width: 80%;
    align-items: center; }
  .maintitles_h1logo {
    height: 40px;
    width: 40px;
    margin-right: auto;
    margin-left: auto; }
  .maintitles_h1logo:hover {
    height: 30px;
    width: 30px;
    padding: 2%; }
  .maintitle_h1Index {
    width: 60%;
    margin-right: auto;
    margin-left: auto; }
  .navbar_sectionNavBar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2%;
    width: 80%; }
  .nav-link:hover {
    color: black; }
  .maintitles_carousel {
    margin: 10%;
    justify-items: center;
    align-items: center;
    width: 80%;
    height: auto; }
  .maintitles_sectionMainText {
    grid-template-columns: repeat(2, 1fr);
    margin-right: 5%;
    margin-left: 5%; }
  .footerGeneral {
    grid-template-columns: repeat(3, 1fr); }
  .footer_sectionMAP {
    height: auto;
    width: 60%; } }

@media only screen and (min-width: 400px) and (max-width: 767px) {
  .maintitles_h1logo {
    display: none; }
  .maintitle_h1Index {
    width: 80%;
    margin: 2%;
    align-items: center; }
  .navbar_sectionNavBar {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    margin: 20px;
    width: 10%; }
  .nav-link:hover {
    color: black; }
  p {
    margin: 10%;
    padding: 2%;
    font-family: 'Montserrat', sans-serif; }
  .maintitles_presentacionIndex {
    display: grid;
    /* grid-template-rows: 200px 100px; */
    grid-template-rows: 20% 80%;
    grid-template-areas: "h3 p";
    justify-content: center;
    align-items: center; }
  .maintitles_carousel {
    margin: 2%;
    justify-items: center;
    align-items: center;
    width: 95%;
    height: auto; }
  .maintitles_sectionMainText {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    margin: 10px; }
  .footerGeneral {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 25% 25% 40%;
    grid-template-areas: "h3Footer" "desc"  "redes" "map";
    justify-items: center;
    align-items: center;
    justify-content: space-around; }
  .footer_h3 {
    padding: 10%;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    /*  */
    grid-area: h3Footer;
    justify-items: start;
    align-items: left; }
  .footer_sectionDesc {
    grid-area: desc;
    padding: 2%; }
  .footer_sectionMAP {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-area: map; }
  .sectionMainProducto {
    align-items: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15%  15%  15%  15%  15%  15%;
    grid-template-areas: "imgProductos1"  "imgProductos2" "imgProductos3"  "imgProductos4" "imgProductos5"  "imgProductos6"; }
  .imgProductos1 {
    padding: auto;
    margin: 2%;
    width: 90%;
    align-items: center;
    grid-area: imgProductos1; }
  .imgProductos2 {
    padding: auto;
    margin: 2%;
    width: 90%;
    align-items: center;
    grid-area: imgProductos2; }
  .imgProductos3 {
    padding: auto;
    margin: 2%;
    width: 90%;
    align-items: center;
    grid-area: imgProductos3; }
  .imgProductos4 {
    padding: auto;
    margin: 2%;
    width: 90%;
    align-items: center;
    grid-area: imgProductos4; }
  .imgProductos5 {
    padding: auto;
    margin: 2%;
    width: 90%;
    align-items: center;
    grid-area: imgProductos5; }
  .imgProductos6 {
    padding: auto;
    margin: 2%;
    width: 90%;
    align-items: center;
    grid-area: imgProductos6; } }

/* PageAliados */
.imgAliados1 {
  padding: auto;
  margin: 2%;
  /*       height: 30%; */
  width: 45%;
  display: inline;
  align-items: center;
  animation-duration: 2s;
  animation-name: logo_aliados;
  animation-timing-function: ease-in;
  animation-iteration-count: initial;
  transform: translate(10px, 20px); }

@keyframes logo_aliados {
  0% {
    opacity: 0; }
  20% {
    opacity: 0.2; }
  50% {
    opacity: 0.5; }
  80% {
    opacity: 0.8; }
  100% {
    opacity: 1; } }

.sectionLogos {
  margin-bottom: 10%; }

/* Variables */
/* Ops */
/* PageContacto */
.sectionMainContact {
  animation-duration: 1s;
  animation-name: main_contact;
  animation-timing-function: ease-in;
  animation-iteration-count: initial; }

@keyframes main_contact {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.pClassFormulario {
  margin: 20px;
  line-height: 1.6;
  padding: 30px;
  font-family: 'Montserrat', sans-serif; }

.lista_3 {
  margin-left: 100px;
  display: inline-block;
  text-align: center;
  padding: 30px;
  font-family: 'Montserrat', sans-serif; }

.liTitulo {
  text-align: left;
  display: inline-block;
  text-align: left;
  padding: 30px;
  font-family: 'Montserrat', sans-serif; }

.botonFormulario {
  margin: 10px 280px 10px 280px;
  display: inline;
  text-align: center;
  padding: 30px;
  font-family: 'Montserrat', sans-serif; }

/* PageProducto */
.sectionMainProducto {
  animation-duration: 1s;
  animation-name: main_producto;
  animation-timing-function: ease-in;
  animation-iteration-count: initial;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 35% 35% 35%;
  grid-template-areas: "imgProductos1 imgProductos2" "imgProductos3 imgProductos4" "imgProductos5 imgProductos6"; }

@keyframes main_producto {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.imgProductos1 {
  padding: auto;
  margin: 2%;
  width: 90%;
  align-items: center;
  grid-area: imgProductos1; }

.imgProductos2 {
  padding: auto;
  margin: 2%;
  width: 90%;
  align-items: center;
  grid-area: imgProductos2; }

.imgProductos3 {
  padding: auto;
  margin: 2%;
  width: 90%;
  align-items: center;
  grid-area: imgProductos3; }

.imgProductos4 {
  padding: auto;
  margin: 2%;
  width: 90%;
  align-items: center;
  grid-area: imgProductos4; }

.imgProductos5 {
  padding: auto;
  margin: 2%;
  width: 90%;
  align-items: center;
  grid-area: imgProductos5; }

.imgProductos6 {
  padding: auto;
  margin: 2%;
  width: 90%;
  align-items: center;
  grid-area: imgProductos6; }

/* PageServicios */
.video_servicios_1 {
  border: 2px solid lightgray;
  padding: 5px;
  width: 99%;
  height: 580px; }

.sectionMainServicios {
  animation-duration: 1s;
  animation-name: main_servicios;
  animation-timing-function: ease-in;
  animation-iteration-count: initial;
  margin-bottom: 10%; }

@keyframes main_servicios {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Variables */
/* Ops */
/* PageEshop */
.sectionMainEShop {
  animation-duration: 1s;
  animation-name: main_eshop;
  animation-timing-function: ease-in;
  animation-iteration-count: initial; }

@keyframes main_eshop {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.table {
  border-collapse: collapse;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  width: 90%;
  align-items: center; }

th {
  padding: 20px;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid black; }

td {
  padding: 20px;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid black;
  text-align: center; }

#precio {
  padding-left: 10px;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif; }

.h3_2 {
  padding-left: 10px;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif; }

.ContainerBody {
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%; }

form {
  line-height: 2.5;
  font-family: 'Montserrat', sans-serif; }

body {
  background-color: white; }
