    /* PageAliados */

    .imgAliados1 {
        padding: auto;
        margin: 2%;
  /*       height: 30%; */
        width: 45%;
        display: inline;
        align-items: center;    
        animation-duration: 2s;
        animation-name: logo_aliados;
        animation-timing-function: ease-in;
        animation-iteration-count: initial;
        transform: translate(10px, 20px);
        }
        
        @keyframes logo_aliados {
        0%{
            opacity: 0;
        }
        
        20%{
            opacity: 0.2;
        }
        
        50%{
            opacity: 0.5;
        }
        
        80%{
            opacity: 0.8;
        }
        
        100% {
            opacity: 1;
        }
        
        }
        

        

.sectionLogos {
    margin-bottom: 10%;
}