        /**** MainTitles_1 ****/

        h1 {
            width: 100%;
            color: #212121;
            margin: 5%;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 1rem;
/*             border-top: solid 1px #c9c9c9;
            border-bottom: solid 1px #c9c9c9; */
            padding: 2%;
        
            animation-duration: 1s;
            animation-name: h1_main;
            animation-timing-function: ease-in;
            animation-iteration-count: initial;
         }
        
         @keyframes h1_main {
            0%{
                opacity: 0;
            }
            100% {
                opacity: 1;
            
            }
        }
        
         .sectionMainTittle {
            width: 100%;
            display: grid;
            justify-content: center;
            align-items: center;

        }
        
        .maintitle_h1Index {
            width: 100%;
            color: #212121;
            margin: 20px;
            text-align: center;
            font-family: 'Montserrat Subrayada', sans-serif;
            font-size: 3rem;

            grid-area: h1;
            justify-items: center;
            
        }
        
         .maintitles_h1logo {
            height: 50px;
            width: 50px;
            margin-left: 5px;
            grid-area: img;
            justify-items: start;
            animation-duration: 1s;
            transition: all 2s;
        }
        
        
        .maintitles_h1logo:hover {
            height: 90px; width: 90px;
            padding: 20px;
        }
        

        /* @keyframes h1_logo {
            0%{
                opacity: 0;
            }
            100% {
                opacity: 1;
            
            }
        } */
        
        .maintitles_carousel {
            margin: 10%;
            justify-items: center;
            align-items: center;
            width: 80%;
            height: 70%;
        }



        /* MainTitles_3 */
        .maintitles_sectionMainText {
            margin-top: 20px;
            animation-duration: 1s;
            animation-name: main_text;
            animation-timing-function: ease-in;
            animation-iteration-count: initial;
        }
        
        @keyframes main_text {
            0%{
                opacity: 0;
            }
            100% {
                opacity: 1;
            
            }
        }
        
        h3 {
            color: #2c2c2c;
             padding-left: 10px;
            font-weight: bolder;
            font-family: 'Roboto', sans-serif;
         }
        
        .maintitles_h3Index {
            align-self: center;
        }
        
        /* Paragraphs */
        
        
        p {
        margin: 5%;
        line-height: 2.5;
        padding: 2%;
        font-family: 'Montserrat', sans-serif;
        }
        
        .maintitles_p1 {
        padding: 2%;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        }
        
        .maintitles_presentacionIndex {
        display: grid;
        /* grid-template-rows: 200px 100px; */
        grid-template-columns: 20% 80%;
        grid-template-areas: 
        "h3 p";
        justify-content: center;
        align-items: center;
        flex-direction: row;
        }