

/****** Media Queries  ******/


@media only screen and (min-width: 1200px) 
{
body {
  background: rgb(253, 253, 252);
}
}



@media only screen and (min-width: 768px) and (max-width: 1199px)
{

    .ContainerBody {
        margin-top: 1%;
        margin-left: 5%;
        margin-right: 5%;
    }

  .sectionMainTittle {
    width: 80%;
    align-items: center;
  }

  .maintitles_h1logo {
      height: 40px ;
      width: 40px ;
      margin-right: auto;
      margin-left: auto;
}

  .maintitles_h1logo:hover {
    height: 30px; 
    width: 30px;
    padding: 2%;
}

 .maintitle_h1Index  {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }

  .collapse {
    &:not(.show) {
      display: none;
    }
  }

  .navbar_sectionNavBar {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 2%;
      width: 80%;
  }


  .nav-link:hover {
    color: black;
}



.maintitles_carousel {
    margin: 10%;
    justify-items: center;
    align-items: center;
    width: 80%;
    height: auto;
}

  .maintitles_sectionMainText {
      grid-template-columns: repeat(2, 1fr);
      margin-right: 5%;
      margin-left: 5%;
  }

  .footerGeneral {
      grid-template-columns: repeat(3, 1fr);
}
.footer_sectionMAP {
    height: auto;
    width: 60%;
}

}




@media only screen and (max-width: 767px)
{


        .maintitles_h1logo {
            display: none;
        }



        .maintitle_h1Index  {
            width: 80%;
            margin: 2%;
            align-items: center;
            font-size: 1.5rem;
        }

/*         .navbar_sectionNavBar {
            display: grid;
            grid-template-rows: repeat(1, 1fr);
            margin: 20px;
            width: 10%;
        } */
        .nav-link{
            font-size: .5rem;
        }
        .nav-link:hover {
            color: black;
        }



            .maintitles_presentacionIndex {
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 20% 80%;
                grid-template-areas: 
                "h3" 
                "p";
                justify-content: center;
                align-items: center;
                }
                .maintitles_p1 {
                    margin: 10%;
                    padding: 2%;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 0.5rem;
                    grid-area: p;
                    }
                .maintitles_h3Index {
                    font-size: .8rem;
                    grid-area: h3;
                }

        .maintitles_carousel {
            margin: 2%;
            justify-items: center;
            align-items: center;
            width: 95%;
            height: auto;
        }

        .maintitles_sectionMainText {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            margin: 10px;
        }



        .footerGeneral {
            width: 100%;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 10% 25% 25% 40%;
            grid-template-areas: 
            "h3Footer"
            "desc" 
            "redes"
            "map";
            justify-items: center;
            align-items: center;
            justify-content: space-around;
        }
                


        .footer_h3 {
            padding: 10%;
            font-weight: bolder;
            font-family: 'Roboto', sans-serif;

            /*  */

            grid-area: h3Footer;
            justify-items: start;
            align-items: left;
        }
                
        .footer_sectionDesc {
        grid-area: desc;
        padding: 2%;
        } 
                
        .footer_sectionMAP {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-area: map;
                }

        .sectionMainProducto {
            align-items: center;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 15%  15%  15%  15%  15%  15%;
            grid-template-areas: 
            "imgProductos1" 
            "imgProductos2"
            "imgProductos3" 
            "imgProductos4"
            "imgProductos5" 
            "imgProductos6"
            ;
            }

            .imgProductos1 {
                margin-top: 2%;
                margin-bottom: 2%;
                width: 90%;
                height: 90%;
                align-items: center;
                grid-area: imgProductos1;
                }
                .imgProductos2 {
                    margin-top: 2%;
                    margin-bottom: 2%;
                    width: 90%;
                    height: 90%;
                    align-items: center;
                    grid-area: imgProductos2;
                }
                .imgProductos3{
                    margin-top: 2%;
                    margin-bottom: 2%;
                    width: 90%;
                    height: 90%;
                    align-items: center;
                    grid-area: imgProductos3;
                }
                .imgProductos4 {
                    margin-top: 2%;
                    margin-bottom: 2%;
                    width: 90%;
                    height: 90%;
                    align-items: center;
                    grid-area: imgProductos4;
                }
                .imgProductos5 {
                    margin-top: 2%;
                    margin-bottom: 2%;
                    width: 90%;
                    height: 90%;
                    align-items: center;
                    grid-area: imgProductos5;
                }
                .imgProductos6 {
                    margin-top: 2%;
                    margin-bottom: 2%;
                    width: 90%;
                    height: 90%;
                    align-items: center;
                    grid-area: imgProductos6;
                }

    }


