
$fontcolor: rgb(236, 236, 236);

$background: rgb(216, 213, 213);

@mixin links {
    text-decoration: none;
    list-style-type: none;
    list-style: none;
    text-align: center;
}



/*******  Barra de Navegacion *******/

nav {
    width: 100%;
    z-index: 3;
    position: fixed;
    align-items: center;
    transition: all 1s;
}


.nav-item:hover {
    color: black;
}


.navbar-nav {
        flex-direction: row;
}

.nav-link {
        @include links;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        padding-left: 1%;
        padding-right: 1%;
        font-family: 'Montserrat', sans-serif;
        position:relative;
        font-size: 1rem;
}

.navbar-collapse {
            display: flex !important;
            flex-basis: auto;
}

.navbar-toggler {
            display: none;
}
