    /* PageProducto */

    .sectionMainProducto {
        animation-duration: 1s;
        animation-name: main_producto;
        animation-timing-function: ease-in;
        animation-iteration-count: initial;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 35% 35% 35%;
        grid-template-areas: 
        "imgProductos1 imgProductos2"
        "imgProductos3 imgProductos4"
        "imgProductos5 imgProductos6"
        ;
        }
            
        @keyframes main_producto {
        0%{
        opacity: 0;
        }
        100% {
        opacity: 1;
        }
        }
        
        .imgProductos1 {
        padding: auto;
        margin: 2%;
        width: 90%;
        align-items: center;
        grid-area: imgProductos1;
        }
        .imgProductos2 {
            padding: auto;
            margin: 2%;
            width: 90%;
            align-items: center;
            grid-area: imgProductos2;
        }
        .imgProductos3{
            padding: auto;
            margin: 2%;
            width: 90%;
            align-items: center;
            grid-area: imgProductos3;
        }
        .imgProductos4 {
            padding: auto;
            margin: 2%;
            width: 90%;
            align-items: center;
            grid-area: imgProductos4;
        }
        .imgProductos5 {
            padding: auto;
            margin: 2%;
            width: 90%;
            align-items: center;
            grid-area: imgProductos5;
        }
        .imgProductos6 {
            padding: auto;
            margin: 2%;
            width: 90%;
            align-items: center;
            grid-area: imgProductos6;
        }